.main{
    position: relative;
}

.dropdown{
    list-style-type: none;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-image{
    height: 100px;
    width: 100px;
    background-size: cover;
    border: 2.5px solid black;
}

.dropdown-elements{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid black;
    justify-content: space-around;
}

.dropdown-header{
    text-align: center;
}

.dropdown-text{
    float: center;
    width: 80%;
    text-align: center;
    float: none;
}


.price{
    font-size: 18px;
    text-align: right;
}

.large{
    font-size:25px;
}

.dropdown-footer{
    // font-family: "Times New Roman", Times, serif;
    display:flex;
    flex-direction: row;
    font-size: 20px;
    width:100%;
    justify-content: space-around;
}